__pycache__/
*.py[cod]
*.sqlite3
*.db

.venv/
venv/

data/*
!data/.gitkeep

evidencias/*
!evidencias/.gitkeep

acompanhamentos/*
!acompanhamentos/.gitkeep

socializacoes/*
!socializacoes/.gitkeep

saidas/*
!saidas/.gitkeep

modelos/*.docx

.DS_Store
Thumbs.db
